<% @jobs.each do |job| %>
  <div>
    <h1> <%= link_to job.title, job %></h1>
    <% if job.featured %>
      <span><strong>Destaque</strong></span>
    <% end %>
  </div>
  <div>
    <%= job.company.name %>
    <%= job.location %>
  </div>
<% end %>
