<% @jobs.each do |job| %>
  <div>
    <h1> <%= link_to job.title, job, class: "btn btn-primary" %></h1>
  </div>
  <div>
    <%= job.company %>
    <%= job.location %>
  </div>
  <!-- <span> <%= link_to "Ver detalhes...", job, class: "btn btn-primary" %> </span> -->
<% end %>
