<section>
  <div class="companies">
    <h1><%= @company.name %></h1>
    <div class="list">
      <dl>
        <dt>Local</dt>
          <dd><%= @company.location %></dd>
        <dt>Email</dt>
          <dd><%= @company.mail %></dd>
        <dt>Telefone</dt>
          <dd><%= @company.phone %></dd>
      </dl>
    </div>
  </div>
</section>
