<section>
    <h1>Nova Categoria</h1>
    <%= simple_form_for @category do |f| %>
      <%= f.input :name, label: 'Nome' %>
      <%= f.submit 'Criar Categoria', class: "btn btn-primary" %>
    <% end %>
</section>
